<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en" dir="ltr"> <![endif]-->
<!--[if IE 7]> <html class="no-js lt-ie9 lt-ie8" lang="en" dir="ltr"> <![endif]-->
<!--[if IE 8]> <html class="no-js lt-ie9" lang="en" dir="ltr"> <![endif]-->
<!--[if gt IE 8]><!--><html class="no-js" lang="en" dir="ltr"><!--<![endif]-->

<head>
<link href='http://fonts.googleapis.com/css?family=Noto+Sans&subset=latin,cyrillic-ext,cyrillic' rel='stylesheet' type='text/css'>
<title>Детская школа искусств г. Белоярский</title>

<!-- Meta Data ================ -->
<meta charset="UTF-8" />
<meta name="description" content="Fill this in with your information" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="apple-mobile-web-app-capable" content="yes" />

<!-- CSS ================ -->
<link rel="stylesheet" href="../static/assets/css/bootstrap.min.css" type="text/css"/>
<link rel="stylesheet" href="../static/assets/css/style.css" type="text/css"/>
<link rel="stylesheet" href="../static/assets/css/header-1.css" type="text/css"/>

<!-- lemmon slider variable width slider for images -->
<link rel="stylesheet" href="../static/assets/css/lemmon-slider.css" type="text/css" media="screen" />

<!-- Icons ================ -->
<!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
<link rel="apple-touch-icon-precomposed" href="apple-touch-icon-precomposed.png" />
<!-- For first- and second-generation iPad: -->
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="apple-touch-icon-72x72-precomposed.png" />
<!-- For iPhone with high-resolution Retina display: -->
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="apple-touch-icon-114x114-precomposed.png" />
<!-- For third-generation iPad with high-resolution Retina display: -->
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="apple-touch-icon-144x144-precomposed.png" />
<link rel="shortcut icon" href="favicon.ico" />

<!-- Open Graph for facebook
http://graph.facebook.com/[UserName] replace [UserName]
with yours and get your fb:admis content information where the XXXX goes.
================================================== -->
<meta property="og:title" content="" />
<meta property="og:type" content="" />
<meta property="og:url" content="" />
<meta property="og:image" content=""/>
<meta property="og:site_name" content="" />
<meta property="fb:admins" content="XXXXX" />
<meta property="og:locale" content="en_us" />
<meta property="og:description" content="  " />


<!-- SCRIPTS ============================================== -->
		<!--	NOTE:: jquery 1.9.1 supports older ie, 2.0 does not, but 1.9.1 does not work well on ie8 and
				lower so version 1.7.2 is called for older versions of ie
				:: calling jQuery in the head for ajax work if necessary.
				-->
		<!--[if gt IE 8]><!-->
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
		<script>window.jQuery || document.write('<script src="../static/assets/js/jquery-1.9.1.min.js"><\/script>')</script>
		<!--<![endif]-->
		<!--[if lte IE 8]>
			<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
		<![endif]-->

<!-- Add to Head after Style sheet http://modernizr.com/docs/#installing  ================ -->
<script src="../static/assets/js/modernizr.js"></script><!-- js multiple backgrounds svg background size -->

<!-- cyrillic font -->
    <style>
      body
      {
        font-family: 'Noto Sans', sans-serif;
      }
    </style>

</head>
<body class="index">

<!-- begin accesibility skip to nav skip content -->
<ul class="visuallyhidden" id="top">
	<li><a href="#nav" title="Skip to navigation" accesskey="n">Skip to navigation</a></li>
	<li><a href="#page" title="Skip to content" accesskey="c">Skip to content</a></li>
</ul>
<!-- end /.visuallyhidden accesibility-->

<!-- mobile navigation trigger-->
<h5 class="mobile_nav"><a href="javascript:void(0)">&nbsp;<span></span></a></h5>
<!--end mobile navigation trigger-->

<section class="container preheader">

	<!--this is the login for the user-->
	<nav class="user clearfix"> <a href="login.html"><i class="icon-user"></i> Login</a> </nav>
	<!--close user nav-->

	<div class="search-wrapper">
		<form class="search" method="post" action="someaction.php">
			<div id="search-trigger">Search:</div>
			<input id="search-box" type="text" placeholder="search + enter">
		</form>
	</div>
	<div class="phone"><a href="tel:83467021647" class="tele">8(34670)21647</a></div>
	<ul class="social">
		<li><a class="socicon small facebook" href="#" data-placement="bottom" title="Присоединяйтесь к нам в Facebook"></a></li>
		<li><a class="socicon small twitterbird" href="#" data-placement="bottom" title="Читайте наш Twitter"></a></li>
		<li><a class="socicon small vk" href="#" data-placement="bottom" title="Наша группа ВКонтакте"></a></li>
	</ul>
</section>

<!-- begin .header-->
 <header class="header clearfix"> <img src="../static/assets/images/print-logo.png" class="print logo" alt="name of company" />
	<div class="container">
		<div class="mobile-menu-holder"><!--clone menu here for mobile--></div>
		<!-- begin #main_menu -->
		<nav id="main_menu">
			<ul class="primary_menu">
				<li><a href="index.html">Главная</a></li>
				<li class="parent"><a href="javascript:void(0)">Структура<i></i></a>
					<ul>
						<li><a href="home-layout-idea-01.html">Музыкальное отделение</a></li>
						<li><a href="home-layout-idea-02.html">Художественное отделение</a></li>
						<li><a href="home-layout-idea-03.html">Администрация</a></li>
						<li><a href="professors.html">Преподаватели</a></li>
					</ul>
				</li>

                <li class=" active"><a href="docs.html">Документы</a></li>
                <li><a href="info.html">Информация</a></li>
                <li><a href="contact.html">Контакты</a></li>
				<li><a href="image-gallery.html">Фотогалерея</a></li>
                                <li class="parent"><a href="javascript:void(0)">События<i></i></a>
					<ul>
						<li><a href="responsive-tables.html">Афиша</a></li>
						<li><a href="news.html">Новости</a></li>
						<li><a href="responsive-tables.html">Архив</a></li>
					</ul>
				</li>
			</ul>
		</nav>
		<!-- close / #main_menu -->

		<!-- begin #logo -->
		<div id="logo"> <a href="index.html"><img alt="" src="../static/assets/images/trans.gif" /><em>Crisp Responsive HTML Retina Ready Bootstrap Goodness</em><!--effing ie7 support--></a> </div>
		<!-- end #logo -->

	</div>
	<!-- close / .container-->
</header>
<!-- close /.header -->

<!-- begin #page - the container for everything but header -->
<div id="page">
	<div class="container visible-phone">
		<p class="right"><a class="btn btn-primary scrollto" href="#secondary-nav">Page Menu &nbsp;<i class="icon-align-justify"></i></a></p>
	</div>

	<!--close hero-unit-->
	<div class="container clearfix" id="main-content"> 
		<!--begin main content-->
		
		<div class="row-fluid">
			<!--begin row-fluid-->
			<div class="span12 primary-column">
  				<h2 class="short_headline"><span>Документы организации</span></h2>
                <p>
                    Отчетность и регламентирующие документы организации. Для того, что бы пролучить ссылку на скачивание нужного документа нажмите на его название.
                </p>
				<ul class="s-accordion faq fancy">
					<li class="s-wrap">
						<h4 class="trigger"><a href="#">Устав организации <i class="icon-file-alt"></i></a></h4>
						<div class="s-content">
							<p>
                                <a href="../static/docs/Ustav.pdf">
                                    Устав муниципального автономного образовательного учреждения дополнительного
                                    образования детей в области культуры Белоярского района «Детская школа искусств
                                    г. Белоярский»
                                </a>
                            </p>
						</div>
						<!--close s-content--> 
					</li>
					<!--close s-wrap-->
					
					<li class="s-wrap">
						<h4 class="trigger"><a href="#">Лицензии<i class="icon-file-alt"></i></a></h4>
						<div class="s-content">
							<p>
                                <a href="../static/docs/LicObrDeyat.pdf">
                                    Лицензия №1383 от 27 сентября 2013 г. на осуществление образовательной деятельности
                                </a>
                            </p>
                     		<p>
                                <a href="../static/docs/SvidOGosAkkred.pdf">
                                    Свидетельство о государственной аккредитации
                                </a>
                            </p>
                      		<p>
                                <a href="../static/docs/PerechProgramm.pdf">
                                    Перечень аккредитованных образовательных программ
                                </a>
                            </p>
                    		<p>
                                <a href="../static/docs/SpravkaMTB.pdf">
                                    Справка о материально-техническом обеспечении образовательной деятельности
                                    по заявленным для лицензирования образовательным программам
                                </a>
                            </p>
						</div>
						<!--close s-content--> 
					</li>
					<!--close s-wrap-->
					
					<li class="s-wrap">
						<h4 class="trigger"><a href="#">Коллективный договор <i class="icon-file-alt"></i></a></h4>
						<div class="s-content">
							<p>
                                <a href="../static/docs/KollektivDogovor.pdf">
                                    Коллективный договор между администрацией и работниками
                                    муниципального автономного образовательного учреждения дополнительного
                                    образования детей в области культуры Белоярского района «Детская школа искусств
                                    г. Белоярский»
                                </a>
                            </p>
                     		<p>
                                <a href="../static/docs/DopSogKKolDog_1.pdf">
                                    Дополнительное соглашение к коллективному договору (1)
                                </a>
                            </p>
                      		<p>
                                <a href="../static/docs/DopSogKKolDog_2.pdf">
                                    Дополнительное соглашение к коллективному договору (2)
                                </a>
                            </p>
						</div>
						<!--close s-content--> 
					</li>
					<!--close s-wrap-->
					
					<li class="s-wrap">
						<h4 class="trigger"><a href="#">План финансово-хозяйственной деятельности <i class="icon-file-alt"></i></a></h4>
						<div class="s-content">
							<p>
                                <a href="../static/docs/PlanFinHozDeyat.pdf">
                                    План финансово-хозяйственной деятельности на 2014 год
                                </a>
                            </p>
						</div>
						<!--close s-content--> 
					</li>
					<!--close s-wrap-->

					<li class="s-wrap">
						<h4 class="trigger"><a href="#">Учебные планы <i class="icon-file-alt"></i></a></h4>
						<div class="s-content">
							<p>
                                <a href="../static/docs/UchPlanMO.pdf">
                                    Учебный план семилетней образовательной программы. Музыкальное отделение.
                                </a>
                            </p>
							<p>
                                <a href="../static/docs/PoyZapKPlanuMO.pdf">
                                    Пояснительная записка к учебному плану музыкального отделения.
                                </a>
                            </p>
							<p>
                                <a href="../static/docs/UchPlanHO.pdf">
                                    Учебный план. Художественное отделение.
                                </a>
                            </p>
							<p>
                                <a href="../static/docs/UchPlanPredProf.pdf">
                                    Учебный план по дополнительной предпрофессиональной общеобразовательной программе в области изобразительного искусства &laquo;Живопись&raquo;.
                                </a>
                            </p>
						</div>
						<!--close s-content-->
					</li>
					<!--close s-wrap-->

					<li class="s-wrap">
						<h4 class="trigger"><a href="#">Порядок, Положения, Правила, Отчеты<i class="icon-file-alt"></i></a></h4>
						<div class="s-content">
                            <p>
                                <a href="../static/docs/PolORezhZan.pdf">
                                    Положение о режиме занятий обучающихся в муниципальном автономном образовательном учреждении дополнительного образования детей в области культуры Белоярского района» «Детская школа искусств г.Белоярский».



                                </a>
                            </p>
                            <p>
                                <a href="../static/docs/PolSite.pdf">
                                    Положение об официальном Интернет - сайте муниципального автономного образовательного
                                    учреждения дополнительного образования детей в
                                    области культуры Белоярского района «Детская школа исискусств г.Белоярский»


                                </a>
                            </p>
                            <p>
                                <a href="../static/docs/PolSovet.pdf">
                                    Положение о Совете МАОУДОД «Детская школа искусств г.Белоярский»
                                </a>
                            </p>
                            <p>
                                <a href="../static/docs/DogOkazDopPlUs.pdf">

                                Договор на оказание

                                дополнительных платных образовательных услуг


                                </a>
                            </p>
                            <p>
                                <a href="../static/docs/DogOkazObrUsl2014.pdf">
                                    ДОГОВОР

                                    на оказание образовательных услуг (2014 г.)
                                </a>
                            </p>
                            <p>
                                <a href="../static/docs/PolObOplTrudaRabotnikov.pdf">
                                    П О Л О Ж Е Н И Е

                                    об оплате труда работников

                                    муниципального автономного образовательного учреждения дополнительного

                                    образования детей в области культуры Белоярского района

                                    «Детская школа искусств г.Белоярский»
                                </a>
                            </p>

                            <p>
                                <a href="../static/docs/PolPlatUslug.pdf">
                                    ПОЛОЖЕНИЕ ОБ ОРГАНИЗАЦИИ ПЛАТНЫХ УСЛУГ
                                </a>
                            </p>
                            <p>
                                <a href="../static/docs/PolOVidachDoc.pdf">
                                    Положение о порядке выдачи лицам, освоившим дополнительные общеразвивающие программы в области искусства, документа об обучении в МАОУДОД «Детская школа искусств г.Белоярский».
                                </a>
                            </p>
                            <p>
                                <a href="../static/docs/PolOPoseshenMeropriyat.pdf">
                                    Положение
                                    о порядке посещения обучающимися мероприятий,
                                    проводимых в МАОУДОД «Детская школа искусств г.Белоярский»
                                </a>
                            </p>
                            <p>
                                <a href="../static/docs/PolFormAttest.pdf">
                                    Положение
                                    о порядке и формах проведения итоговой аттестации обучающихся,
                                    освоивших дополнительные предпрофессиональные
                                    общеобразовательные программы в области искусств
                                </a>
                            </p>
                            <p>
                                <a href="../static/docs/PolOSokrObrProg.pdf">
                                    Положение
                                    о порядке реализации сокращенных образовательных программ и индивидуальных
                                    учебных планов
                                </a>
                            </p>
                            <p>
                                <a href="../static/docs/PolOPromAtt.pdf">
                                    ПОЛОЖЕНИЕ
                                    о формах, периодичности и порядке текущего контроля успеваемости,
                                    промежуточной аттестации учащихся
                                </a>
                            </p>
                            <p>
                                <a href="../static/docs/PravPriemaUch.pdf">
                                    Правила приёма, перевода, отчисления и восстановления учащихся
                                </a>
                            </p>
                            <p>
                                <a href="../static/docs/PorOsvoenUchPredmet.pdf">
                                    Порядок освоения учебных предметов, курсов за пределами осваиваемой предпрофессиональной программы
                                </a>
                            </p>
                            <p>
                                <a href="../static/docs/PolOPrekrOtnosh.pdf">
                                    ПОЛОЖЕНИЕ
                                    О порядке регламентации и оформлении возникновения, приостановления и прекращения отношений между  МАОУДОД «Детская школа искусств г.Белоярский» и обучающимися и (или) их родителями (законными представителями)
                                </a>
                            </p>
                            <p>
                                <a href="../static/docs/PravTrudRasp.pdf">
                                    Правила внутреннего трудового распорядка
                                </a>
                            </p>
                            <p>
                                <a href="../static/docs/PravTrudRaspUch.pdf">
                                    Правила внутреннего трудового распорядка обучающихся
                                </a>
                            </p>
                            <p>
                                <a href="../static/docs/PravPovedenUch.pdf">
                                    Правила поведения учащихся
                                </a>
                            </p>
                            <p>
                                <a href="../static/docs/RezhUchZan.pdf">
                                    Режим учебных занятий детей и организация учебного процесса
                                </a>
                            </p>
                            <p>
                                <a href="../static/docs/PorPredprofProg.pdf">
                                    Порядок приема на обучение по дополнительным предпрофессиональным общеобразовательным программам в области искусства
                                </a>
                            </p>
                            <p>
                                <a href="../static/docs/PolOPromAtt.pdf">
                                    Положение о промежуточной аттестации обучающихся
                                </a>
                            </p>
                            <p>
                                <a href="../static/docs/PolKonkVolshKlav.pdf">
                                    Положение районного конкурса пианистов «Волшебные клавиши»
                                </a>
                            </p>
                            <p>
                                <a href="../static/docs/PolKomTrudSpor.pdf">
                                    Положение о комиссии по трудовым спорам (КТС)
                                </a>
                            </p>
                            <p>
                                <a href="../static/docs/PolOZakup.pdf">
                                    Положение о закупке
                                </a>
                            </p>
                            <p>
                                <a href="../static/docs/PolOPDUch.pdf">
                                    Положение об обработке персональных данных обучающихся и их родителей
                                </a>
                            </p>
                            <p>
                                <a href="../static/docs/PolOPDRabot.pdf">
                                    Положение по работе с персональными данными работников
                                </a>
                            </p>
                            <p>
                                <a href="../static/docs/PolOPedSovet.pdf">
                                    Положение о Педагогическом совете
                                </a>
                            </p>
                            <p>
                                <a href="../static/docs/PolOMetodSov.pdf">
                                    Положение о методическом совете
                                </a>
                            </p>
                            <p>
                                <a href="../static/docs/PolObObschSobr.pdf">
                                    Положение об общем собрании работников
                                </a>
                            </p>
                            <p>
                                <a href="../static/docs/OtchSamoobsled.pdf">
                                    Отчет о результатах деятельности самообследования (2013 г.)
                                </a>
                            </p>
                            <p>
                                <a href="../static/docs/OtchODeyDSI-2013.pdf">
                                    Отчет о деятельности ДШИ за 2013 год
                                </a>
                            </p>
                            <p>
                                <a href="../static/docs/OtchObIspolzImush.pdf">
                                    Отчет об использовании имущества
                                </a>
                            </p>
			    <p>
                                <a href="../static/docs/17160097-17185889.pdf">
                                    Распоряжение правительства РФ №1557-р от 16.08.2014
                                </a>
                            </p>
                            <p>
                                <a href="../static/docs/PrUrSpor.pdf">
                                    П Р И К А З ( Распоряжение ) О создании комиссии по урегулированию споров между участниками образовательных отношений МАОУДОД «Детская школа искусств г.Белоярский»
                                </a>
                            </p>
			    <p>
                                <a href="../static/docs/PolUrSpor.pdf">
                                    Положение о комиссии по урегулированию споров между участниками образовательных отношений  МАОУДОД «Детская школа искусств г.Белоярский»
                                </a>
                            </p>


						</div>
						<!--close s-content--> 
					</li>
					<!--close s-wrap-->

                    <li class="s-wrap">
						<h4 class="trigger"><a href="#">Вакансии<i class="icon-file-alt"></i></a></h4>
						<div class="s-content">
							<p>
                                <a href="../static/docs/Vakans.pdf">
                                    Сведения о потребности в работниках, наличии свободных рабочих мест (вакантных должностей)
                                </a>
                            </p>
						</div>
						<!--close s-content-->
					</li>
					<!--close s-wrap-->

                    <li class="s-wrap">
						<h4 class="trigger"><a href="#">Творческие достижения<i class="icon-file-alt"></i></a></h4>
						<div class="s-content">
							<p>
                                <a href="../static/docs/TvorcheskieDostizheniya2012-2013.pdf">
                                    Творческие достижения учащихся и преподавателей 2012-2013 учебный год
                                </a>
                            </p>
						</div>
						<!--close s-content-->
					</li>
					<!--close s-wrap-->

                	<li class="s-wrap">
						<h4 class="trigger"><a href="#">Программы <i class="icon-file-alt"></i></a></h4>
						<div class="s-content">
							<p>
                                <a href="../static/docs/ProgRazv2012-2017y.pdf">
                                    Программа развития муниципального  автономного
                                    образовательного  учреждения дополнительного образования
                                    детей в области культуры Белоярского района «Детская школа
                                    искусств г.Белоярский» на 2014-2017 годы

                                </a>
                            </p>
							<p>
                                <a href="../static/docs/ObrProgramm.pdf">
                                    Образовательная программа
                                </a>
                            </p>
							<p>
                                <a href="../static/docs/ProgBay1007.pdf">
                                    Образовательная программа по предмету «Баян»
                                </a>
                            </p>
							<p>
                                <a href="../static/docs/ProgGit1007.pdf">
                                    Образовательная программа по предмету «Гитара шестиструнная»
                                </a>
                            </p>
							<p>
                                <a href="../static/docs/ProgZhiv1007.pdf">
                                    Образовательная программа для художественного отделения по предмету «Живопись»
                                </a>
                            </p>
							<p>
                                <a href="../static/docs/ProgAkk1007.pdf">
                                    Образовательная программа по предмету «Аккордеон»
                                </a>
                            </p>
							<p>
                                <a href="../static/docs/ProgAnsNar1007.pdf">
                                    Образовательная программа по предмету «Ансамбль в классе народных инструментов»
                                    (баян, домра, аккордеон, гитара)
                                </a>
                            </p>
							<p>
                                <a href="../static/docs/ProgDomr1007.pdf">
                                    Образовательная программа по предмету «Домра трехструнная»
                                </a>
                            </p>
							<p>
                                <a href="../static/docs/ProgDuhInstr1007.pdf">
                                    Образовательная программа по предмету «Духовые инструменты, оркестровое и
                                    ансамблевое исполнительство»
                                </a>
                            </p>
							<p>
                                <a href="../static/docs/ProgIsoHist1007.pdf">
                                    Образовательная программа по предмету «История изобразительного искусства»
                                </a>
                            </p>
							<p>
                                <a href="../static/docs/ProgKomp1007.pdf">
                                    Образовательная программа для художественного отделения по предмету «Композиция»
                                </a>
                            </p>
							<p>
                                <a href="../static/docs/ProgMuzLit1007.pdf">
                                    Образовательная программа
                                    (4-х летний курс обучения)
                                    по предмету «Музыкальная литература»

                                </a>
                            </p>
							<p>
                                <a href="../static/docs/ProgRis1007.pdf">
                                    Образовательная программа по предмету «Рисунок»
                                </a>
                            </p>
							<p>
                                <a href="../static/docs/ProgSkulpt1007.pdf">
                                    Образовательная программа по предмету «Скульптура»
                                </a>
                            </p>
							<p>
                                <a href="../static/docs/ProgSolf1007.pdf">
                                    Образовательная программа
                                    (7-ми летний курс обучения)
                                    по сольфеджио
                                </a>
                            </p>

							<p>
                                <a href="../static/docs/BesedObIskusstv.pdf">
                                    ДОПОЛНИТЕЛЬНАЯ ПРЕДПРОФЕССИОНАЛЬНАЯ ОБЩЕОБРАЗОВАТЕЛЬНАЯ ПРОГРАММА
                                    В ОБЛАСТИ ИЗОБРАЗИТЕЛЬНОГО ИСКУССТВА
                                    «ЖИВОПИСЬ»
                                    Предметная область художественное творчество
                                    БЕСЕДЫ ОБ ИСКУССТВЕ
                                </a>
                            </p>
							<p>
                                <a href="../static/docs/Zhivopis.pdf">
                                    ДОПОЛНИТЕЛЬНАЯ ПРЕДПРОФЕССИОНАЛЬНАЯ ОБЩЕОБРАЗОВАТЕЛЬНАЯ ПРОГРАММА
                                    В ОБЛАСТИ ИЗОБРАЗИТЕЛЬНОГО ИСКУССТВА
                                    «ЖИВОПИСЬ»
                                    Предметная область   ХУДОЖЕСТВЕННОЕ ТВОРЧЕСТВО
                                    ЖИВОПИСЬ
                                </a>
                            </p>
							<p>
                                <a href="../static/docs/IstIzobIskusstv.pdf">
                                    ДОПОЛНИТЕЛЬНАЯ ПРЕДПРОФЕССИОНАЛЬНАЯ ОБЩЕОБРАЗОВАТЕЛЬНАЯ ПРОГРАММА
                                    В ОБЛАСТИ ИЗОБРАЗИТЕЛЬНОГО ИСКУССТВА
                                    «ЖИВОПИСЬ»
                                    Предметная область    ХУДОЖЕСТВЕННОЕ ТВОРЧЕСТВО
                                    ИСТОРИЯ ИЗОБРАЗИТЕЛЬНОГО  ИСКУССТВА
                                </a>
                            </p>
							<p>
                                <a href="../static/docs/Komp.pdf">
                                    ДОПОЛНИТЕЛЬНАЯ ПРЕДПРОФЕССИОНАЛЬНАЯ ОБЩЕОБРАЗОВАТЕЛЬНАЯ ПРОГРАММА
                                    В ОБЛАСТИ ИЗОБРАЗИТЕЛЬНОГО ИСКУССТВА
                                    «ЖИВОПИСЬ»
                                    Предметная область   ХУДОЖЕСТВЕННОЕ ТВОРЧЕСТВО
                                    КОМПОЗИЦИЯ СТАНКОВАЯ
                                </a>
                            </p>
							<p>
                                <a href="../static/docs/Risunok.pdf">
                                    ДОПОЛНИТЕЛЬНАЯ ПРЕДПРОФЕССИОНАЛЬНАЯ ОБЩЕОБРАЗОВАТЕЛЬНАЯ ПРОГРАММА
                                    В ОБЛАСТИ ИЗОБРАЗИТЕЛЬНОГО ИСКУССТВА
                                    «ЖИВОПИСЬ»
                                    Предметная область   ХУДОЖЕСТВЕННОЕ ТВОРЧЕСТВО
                                    РИСУНОК
                                </a>
                            </p>
							<p>
                                <a href="../static/docs/SkulptRaboch.pdf">
                                    ДОПОЛНИТЕЛЬНАЯ ПРЕДПРОФЕССИОНАЛЬНАЯ ОБЩЕОБРАЗОВАТЕЛЬНАЯ ПРОГРАММА
                                    В ОБЛАСТИ ИЗОБРАЗИТЕЛЬНОГО ИСКУССТВА
                                    «ЖИВОПИСЬ»
                                    Предметная область   ХУДОЖЕСТВЕННОЕ ТВОРЧЕСТВО
                                    Скульптура

                                </a>
                            </p>

                            <!-- 24-09-2014 -->
							<p>
                                <a href="../static/docs/ProgFortAns.pdf">
                                    Образовательная программа по предмету
                                    «Фортепианный ансамбль»
                                </a>
                            </p>
							<p>
                                <a href="../static/docs/ProgSpecFno.pdf">
                                    Образовательная программа
                                    «Класса специального фортепиано»
                                </a>
                            </p>
							<p>
                                <a href="../static/docs/ProgHorPenie.pdf">
                                    Образовательная программа
                                    «По хоровому пению»

                                </a>
                            </p>

						</div>
						<!--close s-content-->
					</li>
					<!--close s-wrap-->
                    <!--close s-wrap-->
                	<li class="s-wrap">
						<h4 class="trigger"><a href="#">Противодействие коррупции <i class="icon-file-alt"></i></a></h4>
						<div class="s-content">
							<p>
                                <a href="../static/docs/AntiKorrupt.pdf">
                                    План мероприятий по противодействию коррупции

                                </a>
                            </p>
						</div>
						<!--close s-content-->
					</li>
					<!--close s-wrap-->
                    <!--close s-wrap-->
                	<li class="s-wrap">
						<h4 class="trigger"><a href="#">Закупки <i class="icon-file-alt"></i></a></h4>
						<div class="s-content">
							<p>
                                <a href="../static/docs/ZakDocs.pdf">
                                    ДОКУМЕНТАЦИЯ

                                    к извещению о проведении закупки путем запроса ценовых предложений

                                    на право заключения договора на поставку музыкальных инструментов

                                    для нужд МАОУДОД «Детская школа искусств г.Белоярский»

                                </a>
                            </p>
							<p>
                                <a href="../static/docs/ZakIzv1.pdf">
                                    Извещение от 19 мая 2014 г. № 1

                                    о проведении запроса ценового предложения МАОУДОД «Детская школа искусств

                                    г.Белоярский» по выбору поставщика на поставку музыкальных инструментов.

                                </a>
                            </p>
							<p>
                                <a href="../static/docs/ZakProt1.pdf">
                                    ПРОТОКОЛ № 1
                                    проведения запроса ценовых предложений
                                    (г. Белоярский «27» мая 2014 год
                                    15 ч. 00 мин.)

                                </a>
                            </p>
							<p>
                                <a href="../static/docs/ZakDocPost1.pdf">
                                    Договор поставки музыкальных инструментов № 1 (г. Белоярский 30 мая 2014 г.)

                                </a>
                            </p>

							<p>
                                <a href="../static/docs/ZakIzv2.pdf">
                                    Извещение от  27 июня 2014 г.  № 2
                                    о проведении запроса предложения МАОУДОД «Детская школа искусств г.Белоярский»
                                    по выбору поставщика на проведение электротехнических измерений сопротивления изоляции электрических сетей
                                    в помещениях на объектах МАОУДОД «Детская школа искусств г.Белоярский»


                                </a>
                            </p>
							<p>
                                <a href="../static/docs/ZakIzvDoc2.pdf">
                                    ДОКУМЕНТАЦИЯ
                                    к извещению о проведении закупки путем запроса предложений
                                    на право заключения договора на проведение электротехнических измерений сопротивления изоляции электрических сетей
                                    в помещениях на объектах МАОУДОД «Детская школа искусств г.Белоярский»


                                </a>
                            </p>
							<p>
                                <a href="../static/docs/ZakProt2.pdf">
                                    ПРОТОКОЛ № 2
                                    проведения запроса ценовых предложений
                                    ( г. Белоярский; «02» июля 2014 год; 15  ч. 00 мин. )


                                </a>
                            </p>

						</div>
						<!--close s-content-->
					</li>
					<!--close s-wrap-->
				</ul>
				<!--close s-accordion.faq --> 
				
			</div>
			<!--close span9 primary-column-->

		</div>
		<!--close row-fluid--> 
	</div>
	<!--close .container id="main-content" --> 
	<!--begin footer -->
	<footer id="footer" class="clearfix">
		<div class="container"><!--footer container-->
			
			
			<div class="row-fluid">
				<div class="span11">
					<!--
                    <section>
						<h4>Контакты:</h4>
						<p> Муниципальное автономное образовательное учреждение дополнительного образования детей<br>
                            в области культуры Белоярского района «Детская школа искусств г.Белоярский».<br>
                            ул. Набережная, д. 17<br>
							г. Белоярский, ХМАО &mdash; Югра,<br>
                            Тюменская обл., Россия, 628162<br>
							<i class="icon-phone"></i><strong>Телефон (факс):</strong> <a href="tel:(34670)21647" class="tele">(34670)21647</a><br>
							<i class="socicon email"></i><strong>Электронная почта:</strong> <a href="mailto:email@domain.com">belojarskaja.dshi@mail.ru</a>
                        </p>
					</section>
					close section-->

					<section>
						<h4>Мы в социальных сетях:</h4>
						<ul class="social">
							<li><a class="socicon facebook" href="#" title="Facebook"></a></li>
							<li><a class="socicon twitterbird" href="#" title="Twitter"></a></li>
							<li><a class="socicon vk" href="#" title="ВКонтакте"></a></li>

						</ul>
					</section>
					<!--close section-->

				</div>
				<!-- close .span8 -->

                <!-- beldsi 16-01-2014 знак возрастного ограничения 6+ на всех страницах сайта -->
                <div class="span1">
                    <section>
                        <img src="../static/assets/images/Age6Plus-64x64.png">
                    </section>
				</div>


			</div>
			<!-- close .row-fluid-->
		</div>
		<!-- close footer .container-->

		<!--change this to your stuff-->
		<section class="footerCredits">
			<div class="container">
				<ul class="clearfix">
					<li>© 2014 МАОУДОД «Детская школа искусств г.Белоярский».</li>
  					<li><a href="sitemap.html">Карта сайта</a></li>
					<li>Внимание! сайт находится в разработке и работает в тестовом режиме</li>
<!--					<li><a href="privacy.html">Privacy</a></li>
-->
				</ul>
			</div>
			<!--footerCredits container-->
		</section>
		<!--close section-->
	</footer>
	<!--/.footer-->

	<span class="backToTop"><a href="#top">back to top</a></span> </div>
<!-- close #page-->

<!-- JS JQuery ================ -->
<script src="../static/assets/js/bootstrap.min.js"></script>


<script src="../static/assets/js/lemmon-slider.min.js"></script><!-- lemmon slider js -->

<!--initialize scripts / custom scripts all pages-->
<script src="../static/assets/js/custom.js"></script>
</body>
</html>